server:
  port: 8089

spring:
  application:
    name: checkout-service
  datasource:
    url: jdbc:h2:mem:checkoutdb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
