server:
  port: 8086

spring:
  application:
    name: warehouse-service
  datasource:
    url: jdbc:h2:mem:warehousedb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
