server:
  port: 8092

spring:
  application:
    name: shipping-service
  datasource:
    url: jdbc:h2:mem:shippingdb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
