server:
  port: 8096

spring:
  application:
    name: searching-service
  datasource:
    url: jdbc:h2:mem:searchingdb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
