server:
  port: 8085

spring:
  application:
    name: reservation-service
  datasource:
    url: jdbc:h2:mem:reservationdb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
