server:
  port: 8082

spring:
  application:
    name: user-profile-service
  datasource:
    url: jdbc:h2:mem:userprofiledb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
