server:
  port: 8094

spring:
  application:
    name: notification-service
  datasource:
    url: jdbc:h2:mem:notificationdb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
