server:
  port: 8095

spring:
  application:
    name: promotion-service
  datasource:
    url: jdbc:h2:mem:promotiondb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
